<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            

            <div id="element1"><h2>Existing Camps</h2></div><div id="element2"><a class="btn btn-primary btn-lg" href="/" th:href="@{/camp/add}">Add Camp</a></div>

            <table id="theCamps" class="display" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>                        
                        <th></th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="camp : ${camps}">
                        <td th:text="${camp.description}"></td>
                        <td th:text="${camp.startDate}"></td>
                        <td th:text="${camp.endDate}"></td>
                        <td><a class="btn btn-primary btn-lg"  th:href="@{/camp/edit(id=${camp.campId})}" >Edit</a></td>
                    </tr>
                </tbody>
            </table>    

            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </div>
        <script type="text/javascript">
            // For demo to fit into DataTables site builder...
            $(document).ready(function () {
                $('#theCamps').dataTable();
                $('#theCamps')
                        .removeClass('display')
                        .addClass('table table-striped table-bordered');
            });

        </script>
    </body>
</html>
