<html>
    <head th:replace="fragments/headTag :: headTag">

    </head>
    <body>

        <div class="container">
            <div th:include="fragments/bodyHeaderNoMenu" th:remove="tag">
            </div>

            <h2>Login</h2>
            <p th:text="${message}"></p>
            
            <form th:object="${login}" action="login.html" th:action="@{/other/login.html}" method="post" class="form-horizontal">
                <fieldset>
                    <table class="table table-striped">
                        <tr>
                            <th>Username</th>
                            <td><input type="text" name="username" value="bjmaclean" />
<!--                                <input type="text" name="username" th:value="${login.username}"/>-->
                            </td>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <td><input type="password" name="password" value="123"/>
<!--                                <input type="text" name="password" th:value="${login.password}"/>-->
                            </td>
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Login</button>
                    </div>

                </fieldset>
            </form>

            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>

</html>
